@import "tailwindcss";

html {
  scroll-behavior: smooth;
  /* Elimina el "tope" brusco al llegar al final del scroll */
  overscroll-behavior: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Scroll fluido con inercia (como en móvil) */
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-y: none;
}
